
   <%= image_tag ('Robertplane.png'), :class => "style_image" %>
    <%= image_tag ('cloud.png'), :class => "clouds" %>

  <nav class="navbar navbar-expand-lg" id="top">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#top" data-no-turbolink>Welcome</a>
        <a class="nav-item nav-link" href="#Aboutme">About Me</a>
        <a class="nav-item nav-link" href="#Resume">Resume</a>
        <a class="nav-item nav-link" href="#Experience">Experience</a>
        <a class="nav-item nav-link" href="#ContactMe">Contact Me</a>
        <a class="nav-item nav-link" href="#More">More</a>
    </div>
  </div>
  </nav>
  <div class="maroon">
    <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">

              <a class="nav-item nav-link" href="#Resume"><%= image_tag ('resumecloud.png'),:class => "small-clouds" %></a>
            <a class="nav-item nav-link" href="#Experience"><%= image_tag ('Expcloud.png'),:class => "small-clouds" %></a>
          </div>
          <div class="col-sm">
            <%= image_tag ('Me.jpg'), :class => "profilepic" %>
            <%= image_tag ('banner.png'), :class => "banner" %>
          <a class="nav-item nav-link" href="#Aboutme">  <%= image_tag ('aboutcloud.png'),:class => "centerclouds" %></a>
          </div>
          <div class="col-sm">
            <a class="nav-item nav-link" href="#ContactMe">  <%= image_tag ('contactcloud.png'),:class => "small-clouds" %></a>
            <a class="nav-item nav-link" href="#More">  <%= image_tag ('morecloud.png'),:class => "small-clouds" %></a>
          </div>
        </div>

      <div class="row">
        <div class="col-sm" id="Aboutme">
          <div class="jumbotron">
            <h1 class="display-3">About Me</h1>
            <hr class="my-4">
              <p class="lead">Welcome to my protfolio website!</p>
              <p>My name is Robert Ruiz </p>
              <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
          </div>
        </div>
      </div>
    <div class="col-sm" id="Resume">
      <div class="jumbotron">
        <h1 class="display-3">Resume</h1>
          <hr class="my-4">
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
      </div>
    </div>
    <div class="col-sm" id="Experience" >
      <div class="jumbotron">
        <h1 class="display-3">Experience</h1>
          <hr class="my-4">
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
      </div>
    </div>
    <div class="col-sm" id="ContactMe">
      <div class="jumbotron">
        <h1 class="display-3">Contact Me</h1>
          <hr class="my-4">
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
      </div>
    </div>
    <div class="col-sm" id="More">
      <div class="jumbotron">
        <h1 class="display-3">More</h1>
          <hr class="my-4">
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
      </div>
    </div>
   </div>
  </body>
</div>
